@include font-face("Fontello", "fontello/fontello", normal, normal, true);

[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: inline-block;
  font-family: "Fontello";
  font-weight: normal;
  font-size: 1.5em;
  line-height: .75em;
  vertical-align: -12%;
  font-style: normal;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before { content: '\e801'; }
.icon-youtube:before { content: '\e80c'; }
.icon-resources:before { content: '\e804'; }
.icon-news:before { content: '\e802'; }
.icon-bookstore:before { content: '\e805'; }
.icon-calendar:before { content: '\e803'; }
.icon-publications:before { content: '\e800'; }
