@include font-face("Fontello", "fontello/fontello", normal, normal, true);

[class^="icon-"]:before,
[class*=" icon-"]:before {
  display: inline-block;
  font-family: "Fontello";
  font-weight: normal;
  font-size: 1.5em;
  line-height: .75em;
  vertical-align: -12%;
  font-style: normal;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before { content: '\e801'; }
.icon-youtube:before { content: '\e80c'; }
.icon-search:before { content: '\e806'; }
.icon-account:before { content: '\e807'; }
.icon-resources:before { content: '\e804'; }
.icon-news:before { content: '\e802'; }
.icon-bookstore:before { content: '\e805'; }
.icon-calendar:before { content: '\e803'; }
.icon-publications:before { content: '\e800'; }

.icon-twitter { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe801;&nbsp;'); }
.icon-youtube { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe80c;&nbsp;'); }
.icon-search { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe806;&nbsp;'); }
.icon-account { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe807;&nbsp;'); }
.icon-resources { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe804;&nbsp;'); }
.icon-news { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe802;&nbsp;'); }
.icon-bookstore { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe805;&nbsp;'); }
.icon-calendar { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe803;&nbsp;'); }
.icon-publications { *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;'); }
