.footer {
  padding: em(30) 0;
  @include clearfix;

  > .inner {
    > .social-badges {
      float: right;
    }

    > .links {
      .column {
        margin-right: em(50);

        @include media($tablet) {
          float: left;
        }

        > li {
          font-size: em(12);
          line-height: 1.5;

          a {
            color: #66666d;
            font-weight: 300;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
