.header {
  background-color: #fff;
  padding: em(20) 0;

  > .inner {
    position: relative;
    padding-left: 50px;

    @include media($tablet) {
      padding-left: 90px;
    }
  }

  .logo {
    @include hide-text;
    display: block;
    position: absolute;
    top: 50%;
    left: 0px;
    background: url(image-path("logo.png")) no-repeat;
    width: 34px;
    height: 51px;
    margin-top: -26px;

    @include hidpi(1.3) {
      background-image: url(image-path("logo_2x.png"));
      background-size: 100% auto;
    }

    @include media($tablet) {
      width: 68px;
      height: 103px;
      margin-top: -51px;
    }
  }

  .top {
    @include media($tablet) {
      @include clearfix;
    }

    .left {
      @include media($tablet) {
        float: left;
        width: 50%;
        padding-right: em(20);
      }

      img {
        width: 100%;
        max-width: 100%;
      }

      .heading {
        @include media($tablet) {
          margin-bottom: em(10);
        }

        a {
          display: block;
        }
      }

      .slogan {
        margin-bottom: em(15);

        @include media($tablet) {
          margin-bottom: 0;
        }
      }

      .menu-icon {
        position: absolute;
        bottom: -8px;
        right: 0px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: em(12);
        display: block;
        text-align: right;
        font-weight: bold;
        color: #82818f;

        @include media($tablet) {
          display: none;
        }

        i {
          margin-left: .25em;
        }
      }
    }

    .right {
      display: none;

      @include media($tablet) {
        display: block;
        @include clearfix;
        float: right;
        text-align: right;
        width: 50%;
      }

      .action-bar {
        @include clearfix;

        .form {
          float: right;
          display: inline-block;
          padding-right: em(15);
          border-right: 1px solid #ddd;
          margin-right: em(15);

          .input {
            position: relative;

            .icon-search {
              position: absolute;
              top: 5px;
              right: 5px;
              color: #bbb;
              font-size: em(13);
            }

            > input {
              width: em(120);
            }
          }
        }

        #google_translate_element {
          display: inline-block;
          float: right;
          width: 154px;
        }
      }

      .social-badges {
        float: right;
        margin: em(15) 0;
      }
    }
  }

  .nav {
    @include linear-gradient(#755b99, #360a71);
    border-bottom-left-radius: 10px;
    position: relative;
    display: none;

    @include media($tablet) {
      display: block;
    }

    a {
      color: #fff;
      font-weight: bold;
      display: inline-block;
      line-height: 1;
      padding: em(5) 0;
      text-decoration: none;
      position: relative;
      z-index: 999;
      font-size: 0.65em;

      @include media($desktop) {
        font-size: em(13);
      }

      &:hover,
      &.hovering {
        background: #352050;

        span {
          border-color: #352050;
        }
      }

      span {
        border-left: 1px solid #9379b5;
        border-color: rgba(255,255,255,.1);
        padding: em(12) em(18);
        display: inline-block;
      }
    }

    .top-links {
      @include clearfix;

      li {
        float: left;

        &:first-child {
          a {
            span {
              border: 0;
            }
          }
        }
      }
    }

    .account {
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      background: $green;

      &:hover {
        background: lighten($green, 5%);
      }

      span {
        border: 0;

        i {
          font-size: 85%;
        }
      }
    }

    .subnav {
      position: absolute;
      top: 100%;
      left: 0px;
      width: 100%;
      height: 200px;
      background: #352050;
      z-index: 888;
      margin-top: -1px;
      display: none;
      border-top: 1px solid #674a90;
      box-shadow: 3px 0 7px rgba(0,0,0,.3);
      padding: em(15) em(20);

      &.open {
        display: block;
      }
    }
  }
}
