.hero {
  background: #82818f url(image-path("pattern.png"));

  > .inner {
    position: relative;

    > #slider {
      margin-bottom: em(20);
      overflow: hidden;

      @include media($tablet) {
        margin-bottom: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    > .main {
      position: relative;
      z-index: 2;
    }

    > .sidebar {
      position: relative;
      z-index: 3;
    }
  }

  .slider-overlay {
    background: rgba(0,0,0,.8);
    color: #fff;
    padding: em(15);
    position: relative;
    min-height: 62px;

    @include media($tablet) {
      margin-top: 27%;
      width: 80%;
    }

    > #slider-overlay-text {
      font-weight: bold;
      font-size: em(14);
      margin: 0;
    }

    > #slider-pager {
      position: absolute;
      bottom: 0px;
      right: 0px;
      padding-right: .5em;

      span {
        color: #888;
        font-size: em(24);
        line-height: 1;

        &.cycle-pager-active {
          color: #fff;
        }
      }
    }
  }

  .find-a-professional {
    margin-top: em(10);
    box-shadow: 0 3px 5px rgba(0,0,0,.35);
    background: #f1f0f0 url(image-path("map.png"));
    @include hidpi {
      @include background-size(50%);
    }

    > .inner {
      background: #f1f0f0;
      margin-left: 20%;
      @include clearfix;

      .title {
        padding: em(8);

        h4 {
          margin: 0;
          text-transform: uppercase;
          font-size: em(12);
          color: #575761;
          margin-bottom: em(5);
        }

        p {
          margin: 0;
          font-size: em(11);
          color: #a0a0a7;
        }
      }

      .finder {
        width: 35%;
        float: right;
        padding: em(8);

        .input {
          width: 100%;
          display: block;
          margin-bottom: em(6);
          background: #fff;
          border: 1px solid #dadada;
          font-size: em(13);
          padding: em(3) em(6);
        }

        .button {
          width: 100%;
          border: 0;
          background: #128d30;
          border-radius: 7px;
          color: #fff;
          font-size: em(11);
          line-height: 1.45;
          display: block;
          box-shadow: 1px 1px 0 #11570b;
        }
      }
    }
  }

  .panels {
    box-shadow: 0 3px 5px rgba(0,0,0,.35);
    background: #f1f0f0;
    list-style-type: none;
    margin: em(10) 0;
    padding: 0;

    li {
      padding: em(10) em(15);
      @include clearfix;
      border-bottom: 1px dashed #ccc;

      &:last-child {
        border: none;
      }

      p {
        margin: 0;
        font-size: em(12);
        font-weight: bold;
        color: #575761;
      }

      .button {
        display: inline-block;
        float: right;
        background: #f7850b;
        padding: em(10) 0;
        width: 38%;
        border-radius: 5px;
        font-size: em(14);
        margin-left: em(5);
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        text-align: center;
        box-shadow: 1px 1px 0 #cb8233;
      }
    }
  }
}
