.hero {
  background: #82818f url(image-path("pattern.png"));

  > .inner {
    position: relative;

    > #slider {
      margin-bottom: em(20);
      overflow: hidden;

      @include media($tablet) {
        margin-bottom: 0;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;

        img {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    > .main {
      position: relative;
      z-index: 2;
    }

    > .sidebar {
      position: relative;
      z-index: 3;
    }
  }

  .slider-overlay {
    background: rgba(0,0,0,.8);
    color: #fff;
    padding: em(15);
    position: relative;
    min-height: 62px;

    @include media($tablet) {
      margin-top: 27%;
      width: 80%;
    }

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        color: #eee;
      }
    }

    > #slider-overlay-text {
      font-weight: bold;
      font-size: em(14);
    }

    > #slider-pager {
      position: absolute;
      bottom: 0px;
      right: 0px;
      padding-right: .5em;

      span {
        color: #888;
        font-size: em(28);
        line-height: 1;
        margin: 0 2px;

        &:hover {
          cursor: pointer;
        }

        &.cycle-pager-active {
          color: #fff;
        }
      }
    }
  }

  .find-a-professional {
    margin-top: em(10);
    box-shadow: 0 3px 5px rgba(0,0,0,.35);
    background: #f1f0f0 url(image-path("map.png"));

    @include hidpi(1.3) {
      background-size: 50% auto;
    }

    > .inner {
      background: #f1f0f0;
      margin-left: 20%;
      @include clearfix;
      padding: em(8);

      > h4 {
        text-transform: uppercase;
        color: #575761;
        margin-bottom: em(5);
        font-size: em(10);
        display: none;

        @include media($between) {
          display: block;
        }
      }

      .title {
        display: block;

        @include media($between) {
          display: none;
        }

        h4 {
          text-transform: uppercase;
          color: #575761;
          margin: em(6) 0;
          font-size: em(12);
        }

        p {
          color: #a0a0a7;
          font-size: em(11);
        }
      }

      .finder {
        width: 35%;
        float: right;

        @include media($between) {
          width: 100%;
          float: none;
        }

        .input {
          margin-bottom: em(6);

          @include media($between) {
            float: left;
            width: 50%;
            margin-bottom: 0;
          }

          > input {
            width: 100%;
          }
        }

        .actions {
          @include media($between) {
            float: right;
            width: 50%;
            padding-left: em(5);
          }

          .button {
            width: 100%;
            border: 0;
            background: $green;
            border-radius: 7px;
            color: #fff;
            font-size: em(11);
            line-height: 1;
            padding: em(8) 0;
            display: block;
            outline: 0;
            box-shadow: 1px 1px 0 #11570b;

            &:hover {
              background: lighten($green, 5%);
            }
          }
        }
      }
    }
  }

  .panels {
    box-shadow: 0 3px 5px rgba(0,0,0,.35);
    background: #f1f0f0;
    margin: em(10) 0;

    li {
      padding: em(10) em(15);
      @include clearfix;
      border-bottom: 1px dashed #ccc;

      &:last-child {
        border: none;
      }

      p {
        color: #575761;
        font-weight: bold;
        font-size: em(12);

        @include media($between) {
          font-size: em(10);
        }

        .not-needed {
          @include media($between) {
            display: none;
          }
        }
      }

      .button {
        display: inline-block;
        float: right;
        background: #f7850b;
        padding: em(10) 0;
        width: 42%;
        border-radius: 5px;
        margin-left: em(5);
        font-weight: bold;
        color: #fff;
        text-decoration: none;
        text-align: center;
        box-shadow: 1px 1px 0 #cb8233;
        font-size: em(14);

        @include media($between) {
          font-size: em(10);
        }

        &:hover {
          background: lighten(#f7850b, 5%);
        }
      }
    }
  }
}
