html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html,
body {
  height: 100%;
  background-color: #d6d3d2;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 100%;
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}

input {
  background: #fff;
  border: 1px solid #dadada;
  font-size: em(13);
  padding: em(4) em(6);
  border-radius: 0;
}

p {
  line-height: 1.2;
}

img {
  vertical-align: bottom;
}

#viewport {
  height: 100%;
  position: relative;
  overflow: hidden;
}

#page {
  position: relative;
  overflow: scroll;
  height: 100%;
}

#menu {
  min-height: 100%;
  overflow: scroll;
  width: 256px;
  height: 100%;
  position: fixed;
  right: -256px;
}

body.menu-active {
  #menu {
    right: 0;
  }

  #page {
    right: 256px;
  }
}

.header,
.title-bar,
.breadcrumb-bar,
.hero,
.content,
.footer {
  > .inner {
    @include outer-container;

    @include media($desktop) {
      max-width: em(1000);
    }
  }
}

.hero,
.content {
  > .inner {
    > .main {
      @include media($tablet) {
        @include span-columns(8);
      }
    }

    > .main-article {
      @include media($tablet) {
        float: left;
        display: block;
        margin-right: 2%;
        width: 73%;
      }
    }

    > .sidebar {
      margin-top: em(20);

      @include media($tablet) {
        @include span-columns(4);
        @include omega();
        margin-top: 0;
      }
    }

    > .sidebar-article {
      margin-top: em(20);

      @include media($tablet) {
        float: left;
        display: block;
        width: 25%;
        margin: 0;
      }
    }
  }
}

.content {
  background-color: #f6f5f1;
  padding: em(30) 0;
}
