@import "neat-helpers";

$max-width: 90%;
$grid-columns: 1;
$gutter: em(50);

$mobile: new-breakpoint(min-width em(360) 1);
$tablet: new-breakpoint(min-width em(768) 12);
$between: new-breakpoint(min-width em(768) max-width em(1023), 12);
$desktop: new-breakpoint(min-width em(1024) 12);

// $visual-grid: true;
