.icons-gplus-dark,
.icons-gplus,
.icons-youtube-dark,
.icons-youtube,
.icons-linkedin-dark,
.icons-linkedin,
.icons-facebook-dark,
.icons-facebook,
.icons-twitter-dark,
.icons-twitter {
  background: url(image-path("icons.png")) no-repeat;

  @include hidpi(1.3) {
    background-size: 100% auto;
    background-image: url(image-path("icons_2x.png"));
  }
}

.icons-gplus-dark {
  background-position: 0 0;
}

.icons-gplus {
  background-position: 0 -25px;
}

.icons-youtube-dark {
  background-position: 0 -50px;
}

.icons-youtube {
  background-position: 0 -75px;
}

.icons-linkedin-dark {
  background-position: 0 -100px;
}

.icons-linkedin {
  background-position: 0 -125px;
}

.icons-facebook-dark {
  background-position: 0 -150px;
}

.icons-facebook {
  background-position: 0 -175px;
}

.icons-twitter-dark {
  background-position: 0 -200px;
}

.icons-twitter {
  background-position: 0 -225px;
}

ul.social-badges {
  @include clearfix;

  li {
    margin-left: em(8);
    float: left;

    .badge {
      width: 25px;
      height: 25px;
      display: block;
      @include hide-text;
    }
  }
}
