.tabs {
  display: none !important;

  @include media($tablet) {
    display: block !important;
  }

  > ul {
    @include clearfix;

    li {
      background-color: $green;
      box-shadow: 0 2px 5px rgba(67,56,13,.25);
      margin-right: em(5);
      float: left;

      &.ui-tabs-active {
        background-color: #fff;

        a {
          color: #575761;
          box-shadow: none;

          i:before {
            color: #b0b0b6;
          }
        }
      }

      a {
        padding: em(15);
        display: block;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        line-height: 1.25;
        box-shadow: inset 0 -4px 6px rgba(67,56,13,.25);
        outline: none;
        font-size: em(12);

        @include media($desktop) {
          font-size: em(14);
        }

        &:hover {
          background-color: rgba(255,255,255,.1);
        }

        i:before {
          color: #7bbf7f;
          margin-right: .15em;
        }
      }
    }
  }

  > .inner {
    position: relative;
    margin-top: -1px;
    background-color: #fff;
    padding: em(20);
    box-shadow: 0 4px 5px rgba(67,56,13,.25);

    ul {
      li {
        margin-bottom: em(15);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    h4 {
      margin-bottom: em(5);
      font-size: em(14);

      a {
        color: #393946;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    p {
      color: #979798;
      font-size: em(13);
    }
  }
}
